.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 70px;
}

.chat li.right .chat-body
{
    margin-right: 70px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 0;
}

.panel-body
{
    
    height: 65%;
    min-height: 200px;
    padding: 10px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 15px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#photo {
    margin-right: 10px;
}

#emoji {
    margin-left: 10px;
}

.text_area_input {
    width: 100%;
    height: 50px;
    font-size: 14pt;
}

.table_footer {
    width: 100%;
    table-layout: fixed;
}

#submit_btn {
    display: none;
}

#chat-box {
    font-size: 12pt;
}