/* Specific styles for Zotonic admin
   ----------------------------------------------------------

@package:	Zotonic admin CSS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
---------------------------------------------------------- */
ul.blocks.ui-sortable .widget-header:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul.blocks.ui-sortable .widget-header:before {
  font-family: "Zotonic";
}
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('/lib/font-awesome-4/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('/lib/font-awesome-4/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('/lib/font-awesome-4/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('/lib/font-awesome-4/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('/lib/font-awesome-4/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #222;
  background-color: #fff;
}
body.wait {
  cursor: wait;
}
body.wait .btn {
  cursor: wait;
}
@media (max-width: 991px) {
  body > div.container-fluid {
    margin-top: 0;
  }
}
hr {
  background-color: #ddd;
  border: none;
  height: 1px;
  margin: 10px 0;
}
ul,
ol,
p {
  margin: 0 0 15px 0;
}
iframe,
video,
audio {
  max-width: 100%;
}
.unpublished,
.unpublished a:not(.btn),
.unpublished .text-muted,
.unpublished .help-block {
  color: #aaa;
}
.z-drag-drop-placeholder,
ul.blocks.ui-sortable .ui-sortable-placeholder,
ul.media > li.ui-sortable-placeholder {
  background: #ddd;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  visibility: visible !important;
}
.z-text-light {
  color: #aaa;
}
.z-button-row {
  *zoom: 1;
}
.z-button-row:before,
.z-button-row:after {
  content: " ";
  display: table;
}
.z-button-row:after {
  clear: both;
}
.z-button-row > * {
  float: left;
}
.admin-container {
  margin: 15px;
  margin-top: 76px;
}
footer {
  margin: 20px 0;
}
body.noframe > .admin-container {
  background: transparent;
}
.admin-image-border,
.admin-edit-media {
  border: 1px solid #fff;
}
.admin-text-header,
.widget .widget-header,
.widget .widget-section-header {
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #777;
}
.admin-word-break,
.admin-header h2,
table.do_adminLinkedTable th,
table.do_adminLinkedTable td,
table.do_adminLinkedTable .admin-list-thumb > span,
.thumbnails .thumbnail h5,
.thumbnails .thumbnail h6 {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
p .z-btn-help {
  display: inline;
  vertical-align: text-bottom;
}
.admin-header {
  margin-bottom: 24px;
  *zoom: 1;
}
.admin-header:before,
.admin-header:after {
  content: " ";
  display: table;
}
.admin-header:after {
  clear: both;
}
.admin-header > :last-child {
  margin-bottom: 0;
}
.admin-header h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}
.admin-header h2 + p {
  margin-top: 1em;
}
h3 {
  margin: 1.25em 0 .75em 0;
}
pre:empty {
  display: none;
}
.text-muted {
  color: #999;
}
.nav .dropdown-menu > li > a.has-icon,
.nav .dropdown-toggle.has-icon {
  position: relative;
  padding-left: 34px;
}
.nav .dropdown-menu > li > a.has-icon .z-icon,
.nav .dropdown-toggle.has-icon .z-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  height: 14px;
  width: 14px;
  margin-top: -7px;
}
.nav.nav-pills {
  border-style: none none solid none;
  border-width: 1px;
}
.dropdown-menu.admin-dropdown-menu-has-icons > li > a {
  padding-left: 40px;
  position: relative;
}
.dropdown-menu.admin-dropdown-menu-has-icons > li > a .glyphicon {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  line-height: 24px;
}
.dropdown-menu > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li > a:hover {
  background: #0fa2db;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.well {
  background-color: #f5f5f5;
  padding: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.well.z-button-row {
  padding: 15px 15px 11px 15px;
}
.well.z-button-row > .btn,
.well.z-button-row > a[href],
.well.z-button-row .btn + .btn {
  margin: 0 4px 4px 0;
}
.alert {
  padding: 10px;
  margin-bottom: 15px;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  margin-top: 0;
}
.modal-header .close {
  margin-top: 3px;
  opacity: 1;
}
a.close,
button.close {
  color: #555;
}
.radio-inline,
.checkbox-inline,
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}
.checkbox label {
  color: #555;
}
.pagination > li > a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination > li.disabled > a {
  pointer-events: none;
}
.control-label {
  font-weight: normal;
  color: #777;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    margin-bottom: 5px;
  }
}
code {
  padding: 0;
}
.z-btn-remove {
  color: #555;
}
.z-btn-remove:hover {
  color: #222;
}
.btn {
  position: relative;
}
.btn > .z-icon {
  width: 18px;
  height: 18px;
  margin-top: -9px;
  line-height: 18px;
  vertical-align: bottom;
  text-align: center;
}
.btn.disabled {
  pointer-events: none;
  background: transparent;
  color: #b7b7b7;
  opacity: 1;
}
.btn.disabled .glyphicon {
  opacity: .6;
}
.btn .glyphicon {
  top: 3px;
}
.btn.btn-xs .glyphicon {
  top: 2px;
}
.btn.btn-sm .glyphicon {
  top: 1px;
}
.btn.btn-primary:hover {
  background-color: #0c91cb;
  border-color: #0b80b3;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #c0c0c0;
  border-color: #bbb;
}
#unlink-undo-message div.alert {
  padding-right: 14px;
  /* right-aligned undo button in page connections */
}
.rsc-item-wrapper {
  margin: 0 0 15px 0;
}
.rsc-item .thumb {
  margin: 0 10px 0 0;
}
.dashboard .widget {
  border: 1px solid rgba(215, 215, 215, 0.7);
}
.dashboard .widget .widget-header .btn {
  margin-top: -2px;
}
.dashboard .table {
  margin: 0;
}
.dashboard .table > thead > tr:first-child th,
.dashboard .table > tbody > tr:first-child th,
.dashboard .table > thead > tr:first-child td,
.dashboard .table > tbody > tr:first-child td {
  border: none;
}
.dashboard .table > thead > tr > th:first-child,
.dashboard .table > tbody > tr > td:first-child {
  width: 60%;
}
.dashboard .table > thead > tr > th:last-child,
.dashboard .table > tbody > tr > td:last-child {
  width: 40%;
  color: #999;
}
.dashboard .table th {
  display: none;
}
.dashboard .table td {
  background: #fff;
}
.block-add-block {
  margin: 0 0 9px 0;
}
.block-add-block .dropdown-menu {
  top: auto;
}
ul.blocks.ui-sortable {
  padding: 0;
  margin: 0;
}
ul.blocks.ui-sortable > li {
  list-style-type: none;
  margin-left: 0;
}
ul.blocks.ui-sortable .widget-header {
  position: relative;
  cursor: move;
  padding-left: 25px;
}
ul.blocks.ui-sortable .widget-header:before {
  content: "\e60b";
}
ul.blocks.ui-sortable .widget-header:before {
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  left: 15px;
  top: 15px;
  color: #999;
}
ul.blocks.ui-sortable .form-control.block-name {
  background-color: transparent;
  margin: 0 0 10px 0;
}
ul.blocks.ui-sortable .form-control.block-name:focus {
  background-color: #fff;
}
.admin-edit-media {
  position: relative;
}
.admin-cropguide {
  position: absolute;
}
.admin-cropguide.admin-cropguide-horiz {
  border-top: 1px solid rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 0;
  left: 0;
  right: 0;
}
.admin-cropguide.admin-cropguide-vert {
  border-left: 1px solid rgba(255, 255, 255, 0.65);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  width: 0;
  top: 0;
  bottom: 0;
}
ul.media {
  margin: 0;
}
ul.media > li {
  margin: 0 10px 10px 0;
  background: #fff;
  width: 192px;
  height: 222px;
  float: left;
  position: relative;
  padding: 5px;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.media > li.sortable {
  cursor: move;
}
ul.media > li figure {
  position: relative;
  margin: auto;
}
ul.media > li img {
  display: block;
  border: 1px solid #e5e5e5;
  max-width: 180px;
  margin: auto;
}
ul.media > li .z-btn-remove {
  position: absolute;
  bottom: 0;
  right: 0;
}
ul.media > li .bottom {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
ul.media > li .bottom .caption {
  height: 16px;
  overflow: hidden;
}
ul.media > li .bottom .caption a {
  word-break: break-all;
  display: block;
  height: 16px;
  max-height: 16px;
  overflow: hidden;
  line-height: 16px;
  width: 161px;
  vertical-align: text-top;
}
.edit-page .admin-container {
  margin-top: 50px;
}
.edit-page .admin-header .admin-header-meta {
  margin: 0 -15px 0 -15px;
  padding: 15px;
}
.edit-page .admin-header h2 {
  margin-bottom: 10px;
}
.edit-page .admin-header .admin-btn-category {
  font-size: 12px;
}
.edit-page .admin-header .admin-btn-category {
  margin-top: -2px;
}
.edit-page .admin-header .admin-edit-dates,
.edit-page .admin-header .admin-edit-dates a {
  color: #aaa;
}
.edit-page .admin-header .admin-edit-dates a {
  text-decoration: underline;
}
.edit-page .admin-header .admin-header-has-image {
  padding-left: 100px;
}
/* small image in admin edit */
img.admin-leader-image {
  background-color: #f2f2f2;
  float: left;
  width: 80px;
  height: 60px;
}
.admin-edit-media {
  display: inline-block;
  background: white;
  padding: 0;
  margin: 0 0 10px 0;
}
.ui-datepicker .ui-datepicker-header {
  height: 29px;
}
input.do_datepicker {
  width: 100px;
  display: inline;
}
input.do_timepicker {
  width: 70px;
  display: inline;
}
#sidebar-date-range .tab-content {
  overflow: visible;
}
.navbar.admin-navbar-fixed-save {
  z-index: 1000;
  opacity: 0;
  position: fixed;
  top: 50px;
  border-radius: 0;
  padding: 15px 15px;
  background-color: #a6daf0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  min-height: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.scrolled .admin-navbar-fixed-save {
  opacity: 1.0;
}
div + .admin-edit-no-features {
  display: none;
}
.edit-message {
  background-color: #a6daf0;
  border-color: #a6daf0;
  color: #555;
}
.edit-message .btn {
  margin-top: -2px;
}
@media (max-width: 991px) {
  .admin-navbar-fixed-save {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}
.form-field-error {
  color: #B94A48;
}
/*
.z_validation_message {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    margin-left: 9px;
    margin-bottom: 9px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 9px;
    #3L > .border-radius(@radiusBlockElement);
}
*/
form.form-horizontal .z_validation_message {
  margin-bottom: 0;
}
textarea.form-field-error,
input.form-field-error {
  background: #ffeeee;
}
input.form-control[type=file] {
  height: auto;
}
img.thumb {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
img.admin-list-overview {
  width: 80px;
  height: 60px;
}
.widget.admin-logon {
  margin: 100px auto;
  max-width: 480px;
}
.widget.admin-logon .z-logon-box {
  max-width: none;
  margin: 0 auto;
}
.widget.admin-logon .z-logon-box button[type="submit"],
.widget.admin-logon .z-logon-box input[type="submit"] {
  width: auto;
}
.widget.admin-logon .z-logon-box .z-logon-form {
  margin: 0 auto;
}
.widget.admin-logon .z-logon-box .z-logon-title {
  font-size: 1em;
  margin: 0 0 1em 0;
  font-weight: bold;
}
.widget.admin-logon .z-logon-box .z-logon-support {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-top: 1px solid #d7d7d7;
}
.widget.admin-logon .z-logon-box .alert {
  display: none;
}
.widget.admin-logon .z-logon-box.z-logon-error .alert {
  display: block;
}
.widget.admin-logon .z-logon-box.z-logon-error .alert :last-child {
  margin-bottom: 0;
}
.map-wrapper {
  height: 300px;
  width: 610px;
  border: 3px solid #d7d7d7;
  margin: 0 0 9px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media (min-width: 720px) {
  .modal-dialog {
    width: 700px;
  }
}
div.modal div.tab-content {
  overflow: visible;
}
div.modal .nav.nav-pills {
  margin: -15px -15px 15px -15px;
  padding: 0 15px;
}
div.modal .modal-body > :first-child:not(.nav) {
  margin-top: 0;
}
div.modal .modal-footer {
  font-size: 0;
}
div.modal .modal-footer .pull-left {
  margin-left: 0;
}
#menu-editor .widget-header {
  height: auto;
}
.navbar.navbar-branded {
  min-height: 50px;
  height: 50px;
  background-color: #0fa2db;
}
.navbar.navbar-branded .navbar-header > a,
.navbar.navbar-branded .nav > li > a {
  color: #fff;
}
.navbar.navbar-branded .nav > li > a:hover,
.navbar.navbar-branded .nav > li > a:focus,
.navbar.navbar-branded .navbar-nav > .open > a,
.navbar.navbar-branded .navbar-nav > .active > a {
  background-color: #0c91cb;
  color: #fff;
}
.navbar.navbar-branded .navbar-brand {
  font-size: 15px;
  line-height: 15px;
  padding: 17px 15px;
}
.navbar.navbar-branded .navbar-brand .zotonic-logo {
  height: 15px;
  width: 87px;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.navbar.navbar-branded .navbar-right {
  margin-right: 15px;
}
.navbar.navbar-branded .navbar-nav > li > a,
.navbar.navbar-branded .navbar-nav > li > .dropdown-menu > li > a {
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.navbar.navbar-branded .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.7);
}
.navbar.navbar-branded .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.7);
}
.navbar.navbar-branded .navbar-form {
  margin-right: 0;
}
.navbar.navbar-branded .navbar-form .form-control {
  width: 9em;
}
.navbar.navbar-branded .navbar-collapse {
  background-color: #0fa2db;
}
.navbar.navbar-branded .collapse.in {
  max-height: none;
}
.navbar.navbar-branded .collapse.in .nav > .dropdown.pull-right {
  float: none !important;
}
.navbar.navbar-branded .collapse.in .nav > .dropdown.open .dropdown-menu {
  background-color: #efefef;
  border-radius: 0;
}
.navbar.navbar-branded .collapse.in .nav > .dropdown.open .dropdown-menu > li > a {
  background-color: #efefef;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.navbar.navbar-branded .collapse.in .nav > .dropdown.open .dropdown-menu > li > a:hover {
  background: #0fa2db;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.navbar .dropdown-toggle .z-username {
  display: none;
}
.navbar .dropdown-header.z-username {
  display: none;
}
body.navbar-menu-open {
  overflow: hidden;
}
@media (min-width: 480px) {
  .navbar .dropdown-header.z-username {
    display: block;
  }
  .navbar .collapse.in .dropdown-toggle .z-username {
    display: inline;
  }
  .navbar .collapse.in .dropdown-header.z-username {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .navbar.navbar-branded .navbar-brand {
    display: none;
  }
  .navbar.navbar-branded {
    padding: 0 5px;
  }
  .navbar.navbar-branded .dropdown > a {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1050px) {
  .navbar .dropdown-toggle .z-username {
    display: inline;
  }
  .navbar .dropdown-header.z-username {
    display: none;
  }
}
input[type="text"].rtl,
textarea.rtl {
  font-size: 150%;
}
body[dir=rtl] label {
  float: right;
  text-align: right;
}
span.icon_status {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin-top: 3px;
}
span.icon_status:before {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  content: " ";
  background-color: #ddd;
  z-index: 0;
}
span.icon_status:after {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  content: " ";
  background-color: #efefef;
  z-index: 1;
}
span.icon_status.icon_status_running:before,
span.icon_status.icon_status_ok:before {
  background-image: -moz-linear-gradient(top, #3ca43c 0%, #80e880 100%);
  background-image: -webkit-linear-gradient(top, #3ca43c 0%, #80e880 100%);
  background-image: linear-gradient(to bottom, #3ca43c 0%, #80e880 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ca43c', endColorstr='#80e880', GradientType=0);
}
span.icon_status.icon_status_running:after,
span.icon_status.icon_status_ok:after {
  background: #00D100;
  box-shadow: inset 0 -7px 7px rgba(100, 100, 100, 0.1), inset 0 7px 7px rgba(255, 255, 255, 0.3);
}
span.icon_status.icon_status_error:before {
  background-image: -moz-linear-gradient(top, #b2613c 0%, #f6a580 100%);
  background-image: -webkit-linear-gradient(top, #b2613c 0%, #f6a580 100%);
  background-image: linear-gradient(to bottom, #b2613c 0%, #f6a580 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2613c', endColorstr='#f6a580', GradientType=0);
}
span.icon_status.icon_status_error:after {
  background: #ED4A00;
  box-shadow: inset 0 -7px 7px rgba(100, 100, 100, 0.1), inset 0 7px 7px rgba(255, 255, 255, 0.3);
}
span.icon_status.icon_status_warning:before,
span.icon_status.icon_status_retrying:before {
  background-image: -moz-linear-gradient(top, #bb9a3c 0%, #ffde80 100%);
  background-image: -webkit-linear-gradient(top, #bb9a3c 0%, #ffde80 100%);
  background-image: linear-gradient(to bottom, #bb9a3c 0%, #ffde80 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb9a3c', endColorstr='#ffde80', GradientType=0);
}
span.icon_status.icon_status_warning:after,
span.icon_status.icon_status_retrying:after {
  background: #FFBD00;
  box-shadow: inset 0 -7px 7px rgba(100, 100, 100, 0.1), inset 0 7px 7px rgba(255, 255, 255, 0.3);
}
span.icon_status.icon_status_starting:before {
  background-image: -moz-linear-gradient(top, #adb83c 0%, #f1fc80 100%);
  background-image: -webkit-linear-gradient(top, #adb83c 0%, #f1fc80 100%);
  background-image: linear-gradient(to bottom, #adb83c 0%, #f1fc80 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adb83c', endColorstr='#f1fc80', GradientType=0);
}
span.icon_status.icon_status_starting:after {
  background: #E2F800;
  box-shadow: inset 0 -7px 7px rgba(100, 100, 100, 0.1), inset 0 7px 7px rgba(255, 255, 255, 0.3);
}
ul.suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.suggestions-list li a {
  display: block;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #E0E0E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: -1px;
  padding: 2px 4px;
}
ul.suggestions-list li a .pull-right {
  color: #999;
}
ul.suggestions-list li a:hover span.pull-right,
ul.suggestions-list li a:hover {
  color: #f5f5f5;
  background: #999;
  text-decoration: none;
}
/* override table-striped */
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #fff;
}
td.clickable,
tr.clickable td {
  cursor: pointer;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e5e5e5;
}
.table {
  border-bottom: 1px solid #e5e5e5;
}
table.do_adminLinkedTable th a:hover {
  text-decoration: none;
}
table.do_adminLinkedTable td.view-link {
  padding: 0;
}
table.do_adminLinkedTable td a.view-link {
  display: block;
  padding: 8px;
  color: inherit;
}
table.do_adminLinkedTable td a.view-link:hover {
  text-decoration: none;
}
table.do_adminLinkedTable .buttons {
  margin-top: -2px;
  margin-bottom: -2px;
}
table.do_adminLinkedTable h5,
table.do_adminLinkedTable p {
  margin: 0;
}
table.do_adminLinkedTable .admin-list-thumb {
  display: table-row;
}
table.do_adminLinkedTable .admin-list-thumb > img,
table.do_adminLinkedTable .admin-list-thumb > span {
  display: table-cell;
  vertical-align: top;
}
table.do_adminLinkedTable .admin-list-thumb > img {
  width: 40px;
  height: 30px;
  margin: 0 10px 0 0;
}
.table > thead > tr > th {
  border-width: 1px;
}
.table tbody tr.clickable td,
.table tbody tr.clickable th,
.table tbody tr td.clickable,
.table tbody tr th.clickable {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.table tbody tr.clickable:hover td,
.table tbody tr.clickable:hover th,
.table tbody tr:hover td.clickable,
.table tbody tr:hover th.clickable {
  background-color: #eee;
}
table.table tr.unpublished td a.btn-success {
  color: white;
}
.arrow {
  height: 0;
  width: 0;
  border: 4px solid transparent;
  vertical-align: middle;
}
.arrow.up {
  border-bottom-color: #000;
  border-bottom-color: currentColor;
  margin-top: -4px;
}
.arrow.down {
  border-top-color: #000;
  border-top-color: currentColor;
  margin-top: 4px;
}
th .arrow {
  display: inline-block;
  margin-left: 8px;
}
th a:hover .arrow.up {
  border-bottom-color: currentColor;
}
th a:hover .arrow.down {
  border-top-color: currentColor;
}
.nav-tabs > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.minimalTabs,
.nav.nav-pills,
.widget ul.nav-tabs {
  padding: 0;
  border-color: rgba(215, 215, 215, 0.7);
  margin: 0;
}
.minimalTabs > li,
.nav.nav-pills > li,
.widget ul.nav-tabs > li {
  margin-bottom: -1px;
}
.minimalTabs > li > a,
.minimalTabs li.active > a,
.nav.nav-pills > li > a,
.nav.nav-pills li.active > a,
.widget ul.nav-tabs > li > a,
.widget ul.nav-tabs li.active > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 0;
  border: none;
  background: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: none none solid none;
  border-width: 2px;
  border-color: transparent;
}
.minimalTabs > li > a,
.nav.nav-pills > li > a,
.widget ul.nav-tabs > li > a {
  background-color: transparent;
}
.minimalTabs > li:not(.disabled) > a,
.nav.nav-pills > li:not(.disabled) > a,
.widget ul.nav-tabs > li:not(.disabled) > a {
  color: #555;
}
.minimalTabs > li.disabled > a,
.minimalTabs > li.disabled > a:hover,
.minimalTabs > li.disabled > a:focus,
.nav.nav-pills > li.disabled > a,
.nav.nav-pills > li.disabled > a:hover,
.nav.nav-pills > li.disabled > a:focus,
.widget ul.nav-tabs > li.disabled > a,
.widget ul.nav-tabs > li.disabled > a:hover,
.widget ul.nav-tabs > li.disabled > a:focus {
  color: #aaa;
}
.minimalTabs li.active > a,
.minimalTabs li.active > a:focus,
.minimalTabs li.active > a:hover,
.nav.nav-pills li.active > a,
.nav.nav-pills li.active > a:focus,
.nav.nav-pills li.active > a:hover,
.widget ul.nav-tabs li.active > a,
.widget ul.nav-tabs li.active > a:focus,
.widget ul.nav-tabs li.active > a:hover {
  border-style: none none solid none;
  border-width: 2px;
  border-bottom-color: #00C853;
  color: #555;
}
.minimalTabs.nav-justified,
.nav.nav-pills.nav-justified,
.widget ul.nav-tabs.nav-justified {
  border-bottom: 1px solid #d7d7d7;
}
.minimalTabs.nav-justified > li > a,
.nav.nav-pills.nav-justified > li > a,
.widget ul.nav-tabs.nav-justified > li > a {
  margin-bottom: -1px;
}
.connect-results {
  max-height: 400px;
  margin-top: 15px;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.connect-results .row {
  margin-left: -6px;
  margin-right: -6px;
}
.thumbnails {
  list-style: none;
  padding: 0;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  content: " ";
  display: table;
}
.thumbnails:after {
  clear: both;
}
.thumbnails [class*="col-"] {
  padding-left: 6px;
  padding-right: 6px;
}
.thumbnails .thumbnail {
  min-height: 72px;
  max-height: 72px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.1em;
  position: relative;
  transition-duration: 0;
  -webkit-transition-duration: 0;
}
.thumbnails .thumbnail,
.thumbnails .thumbnail a:link,
.thumbnails .thumbnail a:visited {
  color: #222;
}
.thumbnails .thumbnail:hover {
  border-color: #888;
}
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction) {
  background-color: #f5f5f5;
}
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction),
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction) h5,
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction) h6,
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction) a:link,
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction) a:visited {
  color: #aaa;
}
.thumbnails .thumbnail.thumbnail-connected:not(.thumbnail-depiction) img {
  opacity: .3;
}
.thumbnails .thumbnail .z-thumbnail-text {
  position: absolute;
  left: 5px;
  top: 5px;
  margin-right: 5px;
  height: 60px;
  max-height: 60px;
  overflow: hidden;
}
.thumbnails .thumbnail img + .z-thumbnail-text {
  left: 92.5px;
}
.thumbnails .thumbnail img {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 7.5px 0 0;
}
.thumbnails .thumbnail h5,
.thumbnails .thumbnail h6,
.thumbnails .thumbnail p {
  font-size: 12px;
  line-height: 1.1em;
  font-weight: normal;
  margin: 0;
}
.thumbnails .thumbnail h5 {
  font-weight: bold;
  margin-bottom: 2px;
}
.thumbnails .thumbnail h6 {
  text-transform: lowercase;
}
.thumbnails .thumbnail p {
  max-height: 2.2em;
  overflow: hidden;
}
table.mceLayout,
textarea.tinyMCE {
  width: 100% !important;
}
#zmedia-props-form [class*="span"] {
  margin-bottom: 20px;
}
#zmedia-props-form .control-label {
  font-weight: bold;
}
.z-tinymce-media-left {
  border: 1px solid #e5e5e5;
}
.dialog .z-tinymce-media-options label {
  float: none;
  width: auto;
}
.z-tinymce-media-options p {
  margin: 0;
}
.wp_themeSkin .mceStatusbar div {
  width: 600px;
  overflow: hidden;
}
div.widget-content .mce-tinymce.mce-container {
  border: 0;
  margin: 0 -4px 0 -4px;
  /* makes it fill the whole widget-content area */
}
/* sets tinyMCE font size in admin */
div.widget-content .mce-container,
div.widget-content .mce-container *,
div.widget-content .mce-widget,
div.widget-content .mce-widget *,
div.widget-content .mce-reset {
  font-size: 13px;
}
ul.tree-list {
  margin: 0;
}
ul.tree-list:empty {
  margin: 0;
}
ul.tree-list > li:last-child {
  margin-bottom: 10px;
}
ul.tree-list li.menu-item {
  line-height: 1.2;
  border: none;
}
ul.tree-list li.menu-item li.menu-item:last-child {
  margin: 0;
}
ul.tree-list li.menu-item .menu-toggle > i,
ul.tree-list li.menu-item .z-icon-drag,
ul.tree-list li.menu-item .z-btn-remove {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
ul.tree-list li.menu-item .z-icon-drag {
  color: #999;
  left: 12px;
}
ul.tree-list li.menu-item .z-btn-remove {
  right: 12px;
}
ul.tree-list li.menu-item > div {
  position: relative;
  margin: -1px 0 0 0;
  padding: 0;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}
ul.tree-list li.menu-item > div:hover {
  background-color: #f5f5f5;
}
ul.tree-list li.menu-item > div > a,
ul.tree-list li.menu-item > div > span:not(.btns) {
  display: inline-block;
  width: 100%;
  padding: 10px 40px 10px 40px;
  min-height: 34px;
}
ul.tree-list li.menu-item > div > a {
  color: #777;
}
ul.tree-list li.menu-item > div > a:hover {
  color: #222;
  text-decoration: none;
}
ul.tree-list li.menu-item > div a.menu-toggle {
  position: absolute;
  width: 40px;
  height: 34px;
  line-height: 34px;
  color: #ccc;
  padding: 0;
  top: 0;
  left: 0;
  display: none;
}
ul.tree-list li.menu-item > div a.menu-toggle:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
ul.tree-list li.menu-item > div a.menu-toggle > i {
  left: 50%;
  margin-left: -8px;
  cursor: pointer;
}
ul.tree-list li.menu-item > div a.menu-toggle > i.menu-collapse {
  display: none;
}
ul.tree-list li.menu-item > div a.menu-toggle > i.menu-expand {
  display: block;
}
ul.tree-list li.menu-item > div .label {
  color: #999;
}
ul.tree-list li.menu-item img.admin-list-dashboard {
  width: 21.33333333px;
  height: 16px;
  margin-bottom: 2px;
}
ul.tree-list li.menu-item.has-submenu > div a.menu-toggle {
  display: block;
}
ul.tree-list li.menu-item.submenu-open > div a.menu-toggle > i.menu-collapse {
  display: block;
}
ul.tree-list li.menu-item.submenu-open > div a.menu-toggle > i.menu-expand {
  display: none;
}
ul.tree-list li.menu-item > ul {
  display: none;
}
ul.tree-list li.menu-item.submenu-open > ul {
  display: block;
}
ul.tree-list li.menu-item .warning {
  position: absolute;
  top: 12px;
  right: 100px;
}
ul.tree-list li.menu-item .btns {
  display: block;
  position: absolute;
  right: 12px;
  top: 7px;
}
ul.tree-list li.menu-item .btns .btn-group {
  margin: 0;
}
ul.tree-list.categories {
  padding-bottom: 40px;
}
ul.tree-list.categories li.menu-item span.category,
ul.tree-list.tree-list-menu li.menu-item span.category {
  display: none;
}
ul.tree-list.connections-list {
  min-height: 12px;
}
ul.tree-list.connections-list li.menu-item > div {
  overflow: hidden;
}
.widget {
  margin-bottom: 15px;
  border-bottom: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}
.widget:before,
.widget:after {
  content: " ";
  display: table;
}
.widget:after {
  clear: both;
}
.widget,
.widget.dark {
  background-color: #e9e9e9;
}
.widget h5 {
  margin-top: 18px;
}
.widget .widget-content {
  position: relative;
  padding: 15px 15px 0 15px;
}
.widget .widget-content.widget-content-full {
  padding: 0;
}
.widget .widget-content.widget-content-full .table > thead > tr > th:first-child,
.widget .widget-content.widget-content-full .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
.widget .widget-content.widget-content-full .table > thead > tr > th:last-child,
.widget .widget-content.widget-content-full .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
.widget .widget-content .table-like {
  padding: 8px 15px;
}
.widget .widget-content hr {
  margin: 15px -15px;
}
.widget .widget-content .widget-content {
  padding-top: 0;
}
.widget .widget-content .widget-content > :last-child {
  margin-bottom: 0;
}
.widget .widget-content + .widget-content > .tab-pane {
  padding-top: 0;
}
.widget .widget-content:empty {
  display: none;
}
.widget .widget-content h1:not(.panel-heading .widget .widget-content h1),
.widget .widget-content h2:not(.panel-heading .widget .widget-content h1),
.widget .widget-content h3:not(.panel-heading .widget .widget-content h1),
.widget .widget-content h4:not(.panel-heading .widget .widget-content h1),
.widget .widget-content h5:not(.panel-heading .widget .widget-content h1),
.widget .widget-content h6:not(.panel-heading .widget .widget-content h1),
.widget .widget-content h1:not(.panel-heading .widget .widget-content h2),
.widget .widget-content h2:not(.panel-heading .widget .widget-content h2),
.widget .widget-content h3:not(.panel-heading .widget .widget-content h2),
.widget .widget-content h4:not(.panel-heading .widget .widget-content h2),
.widget .widget-content h5:not(.panel-heading .widget .widget-content h2),
.widget .widget-content h6:not(.panel-heading .widget .widget-content h2),
.widget .widget-content h1:not(.panel-heading .widget .widget-content h3),
.widget .widget-content h2:not(.panel-heading .widget .widget-content h3),
.widget .widget-content h3:not(.panel-heading .widget .widget-content h3),
.widget .widget-content h4:not(.panel-heading .widget .widget-content h3),
.widget .widget-content h5:not(.panel-heading .widget .widget-content h3),
.widget .widget-content h6:not(.panel-heading .widget .widget-content h3),
.widget .widget-content h1:not(.panel-heading .widget .widget-content h4),
.widget .widget-content h2:not(.panel-heading .widget .widget-content h4),
.widget .widget-content h3:not(.panel-heading .widget .widget-content h4),
.widget .widget-content h4:not(.panel-heading .widget .widget-content h4),
.widget .widget-content h5:not(.panel-heading .widget .widget-content h4),
.widget .widget-content h6:not(.panel-heading .widget .widget-content h4),
.widget .widget-content h1:not(.panel-heading .widget .widget-content h5),
.widget .widget-content h2:not(.panel-heading .widget .widget-content h5),
.widget .widget-content h3:not(.panel-heading .widget .widget-content h5),
.widget .widget-content h4:not(.panel-heading .widget .widget-content h5),
.widget .widget-content h5:not(.panel-heading .widget .widget-content h5),
.widget .widget-content h6:not(.panel-heading .widget .widget-content h5),
.widget .widget-content h1:not(.panel-heading .widget .widget-content h6),
.widget .widget-content h2:not(.panel-heading .widget .widget-content h6),
.widget .widget-content h3:not(.panel-heading .widget .widget-content h6),
.widget .widget-content h4:not(.panel-heading .widget .widget-content h6),
.widget .widget-content h5:not(.panel-heading .widget .widget-content h6),
.widget .widget-content h6:not(.panel-heading .widget .widget-content h6) {
  margin: 15px 0;
}
.widget .widget-content h1:not(.panel-heading .widget .widget-content h1):first-of-type,
.widget .widget-content h2:not(.panel-heading .widget .widget-content h1):first-of-type,
.widget .widget-content h3:not(.panel-heading .widget .widget-content h1):first-of-type,
.widget .widget-content h4:not(.panel-heading .widget .widget-content h1):first-of-type,
.widget .widget-content h5:not(.panel-heading .widget .widget-content h1):first-of-type,
.widget .widget-content h6:not(.panel-heading .widget .widget-content h1):first-of-type,
.widget .widget-content h1:not(.panel-heading .widget .widget-content h2):first-of-type,
.widget .widget-content h2:not(.panel-heading .widget .widget-content h2):first-of-type,
.widget .widget-content h3:not(.panel-heading .widget .widget-content h2):first-of-type,
.widget .widget-content h4:not(.panel-heading .widget .widget-content h2):first-of-type,
.widget .widget-content h5:not(.panel-heading .widget .widget-content h2):first-of-type,
.widget .widget-content h6:not(.panel-heading .widget .widget-content h2):first-of-type,
.widget .widget-content h1:not(.panel-heading .widget .widget-content h3):first-of-type,
.widget .widget-content h2:not(.panel-heading .widget .widget-content h3):first-of-type,
.widget .widget-content h3:not(.panel-heading .widget .widget-content h3):first-of-type,
.widget .widget-content h4:not(.panel-heading .widget .widget-content h3):first-of-type,
.widget .widget-content h5:not(.panel-heading .widget .widget-content h3):first-of-type,
.widget .widget-content h6:not(.panel-heading .widget .widget-content h3):first-of-type,
.widget .widget-content h1:not(.panel-heading .widget .widget-content h4):first-of-type,
.widget .widget-content h2:not(.panel-heading .widget .widget-content h4):first-of-type,
.widget .widget-content h3:not(.panel-heading .widget .widget-content h4):first-of-type,
.widget .widget-content h4:not(.panel-heading .widget .widget-content h4):first-of-type,
.widget .widget-content h5:not(.panel-heading .widget .widget-content h4):first-of-type,
.widget .widget-content h6:not(.panel-heading .widget .widget-content h4):first-of-type,
.widget .widget-content h1:not(.panel-heading .widget .widget-content h5):first-of-type,
.widget .widget-content h2:not(.panel-heading .widget .widget-content h5):first-of-type,
.widget .widget-content h3:not(.panel-heading .widget .widget-content h5):first-of-type,
.widget .widget-content h4:not(.panel-heading .widget .widget-content h5):first-of-type,
.widget .widget-content h5:not(.panel-heading .widget .widget-content h5):first-of-type,
.widget .widget-content h6:not(.panel-heading .widget .widget-content h5):first-of-type,
.widget .widget-content h1:not(.panel-heading .widget .widget-content h6):first-of-type,
.widget .widget-content h2:not(.panel-heading .widget .widget-content h6):first-of-type,
.widget .widget-content h3:not(.panel-heading .widget .widget-content h6):first-of-type,
.widget .widget-content h4:not(.panel-heading .widget .widget-content h6):first-of-type,
.widget .widget-content h5:not(.panel-heading .widget .widget-content h6):first-of-type,
.widget .widget-content h6:not(.panel-heading .widget .widget-content h6):first-of-type {
  margin-top: 0;
}
.widget .widget-content > :last-child {
  margin-bottom: 15px;
}
.widget .tab-pane {
  padding-top: 15px;
}
.widget .widget-header + .widget-content,
.widget .widget-header + .nav {
  border-top: 1px solid rgba(215, 215, 215, 0.7);
}
.widget .widget-header,
.widget .widget-section-header {
  font-weight: normal;
}
.widget .widget-section-header {
  margin: 20px 0 0 0;
}
.widget .widget-header {
  margin: 0;
  padding: 15px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  font-size: 13px;
  line-height: 16px;
}
.widget .widget-header .z-btn-remove {
  display: block;
  position: absolute;
  top: 15px;
  right: 41px;
  z-index: 1;
}
.widget .widget-header .widget-header-tools {
  float: right;
  font-size: 0;
  text-align: right;
}
.widget .widget-header .widget-header-tools .z-btn-help,
.widget .widget-header .widget-header-tools .z-icon {
  display: inline-block;
  margin-left: 12px;
  line-height: inherit;
}
.widget .widget-header .widget-header-tools .z-btn-help {
  color: #aaa;
}
.widget .widget-header .z-icon-plus,
.widget .widget-header .z-icon-minus {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-shadow: none;
}
.widget.widget-active:not(.widget-expanded) {
  background-color: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.widget.widget-active:not(.widget-expanded) .widget-header {
  background-color: #f5f5f5;
  -webkit-border-radius: 3px 3px 0;
  -moz-border-radius: 3px 3px 0;
  border-radius: 3px 3px 0;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.widget.widget-expanded .widget-header .widget-header-tools .z-btn-help,
.widget.dark.widget-expanded .widget-header .widget-header-tools .z-btn-help {
  color: #069cd1;
}
.widget h5 {
  display: block;
  margin: 20px 0;
}
.widget .admin-button-help {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.widget .navbar {
  background-color: #dadada;
  padding: 10px 0;
}
.widget.widget-active:not(.widget-expanded) .widget-header:hover {
  background-color: #e9e9e9;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
.dashboard .widget {
  background-color: #f5f5f5;
}
li > .widget {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
li h3.widget-header {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.widget ul.nav-tabs.language-tabs {
  background: #dadada;
}
.modal .widget {
  background-color: transparent;
  margin-bottom: 0;
}
.modal .widget .widget-content {
  padding: 0;
}
.modal .widget > ul.nav-tabs {
  padding: 0;
  margin: 0 0 15px 0;
  background: none;
  border-color: #e5e5e5;
}
/* scroll - keep the save buttons into view
   --------------------------------------------------------- */
#sidebar-publish-page .widget-content {
  display: block;
}
#sidebar-publish-page h3.widget-header i {
  display: none;
}
.notice-wrap {
  position: fixed;
  top: 60px;
  right: 20px;
  width: 300px;
  z-index: 9999;
}
